


div.container{
 border: 5px solid #94d6f3; 
}
div.left, div.middle, div.right{
border: 3px dotted green;
width: 33%;

} 
aside{
  display: flex;
}
header{
  background-color: aquamarine;
}
 img{
  width: 100%;
 }
 ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
 }
 